  body{

    background: rgba(295, 255, 255, 0.548);
  }
  

  .nav-list {
    
    cursor: pointer;
    list-style: none;
    display: flex;
    text-decoration:none;
    position: absolute;
    top:10px;
    left: 120px;

  }

  
  .nav-list li {


     position: relative;
     color: black;
     left: 750px;
    letter-spacing: 3px;
    margin-left: 32px;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-style: normal;
         font-weight: 500;
         text-decoration: none;
    
  }
.nav-list a{

              text-decoration: none;
              color: black;

}


.nav-list a:hover{

        color: gray;
}
.post{
    position: absolute;
    margin: 0px;
    width: 550px;
    height: 500px;
    left: 210px;
    top: 100px;

}


.logo{


    position: absolute;
    top: 5px;
    left: 15px;
}

.ftasics{

    position: relative;
    top: 130px;
    padding: 5px;
}
.ftpuma{

    position: relative;
    top: 140px;
    padding: 5px;

}
.ftnike{

    position: relative;
    top: 180px;
    padding: 5px;

}
.ftmizuno{

    position: relative;
    top: 200px;
    padding: 5px;

}


